.swiper {
  position: static;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -34px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.text-css {
  text-align: center;
  color: #fff;
  font-family: Cinzel;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: -100px;
}
